<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 rtl class="main-heading">{{ 'anms.examples.theming.parent.title'  }}</h1>
    </div>
  </div>
  <div class="row">
    <div  class="col-md-6" [ngClass]="routeAnimationsElements">
      <p rtl>
        {{ 'anms.examples.theming.parent.text1'  }} <code>stylesUrls</code>
        {{ 'anms.examples.theming.parent.text2'  }} <code>@Component</code>
        {{ 'anms.examples.theming.parent.text3'  }} <code>styles.scss</code>
        {{ 'anms.examples.theming.parent.text4'  }}
        <strong>{{ 'anms.examples.theming.parent.text5'  }}</strong>
        {{ 'anms.examples.theming.parent.text6'  }}
      </p>
      <p rtl>
        {{ 'anms.examples.theming.parent.text7'  }}
        <strong>{{ 'anms.examples.theming.parent.text8'  }}</strong>
        {{ 'anms.examples.theming.parent.text9'  }}
        <code>> (child selectors)</code>
        {{ 'anms.examples.theming.parent.text10'  }}
      </p>
      <pre>
{{themeSrc}}
      </pre>
    </div>
    <div rtl class="col-md-6" [ngClass]="routeAnimationsElements">
      <div class="example">
        <h1>{{ 'anms.examples.theming.parent.description'  }}</h1>
        <anms-child></anms-child>
      </div>
    </div>
  </div>
</div>
